.currency_wrapper{
    height:100vh;
    width:100vw;
    background: url(../images/space.gif);
    background-repeat: no-repeat;
    background-size: cover;
    .currSelector{
        height:10vh;
        width:25vh;
        color:#DC143C;
        padding:10px;
        text-align: center;
    }
    .currSelector option{
        padding:10px;
    }
    .amountInput{
        height:10vh;
        width:20vw;
        padding:10px;
        color:#DC143C;
        font-size:1.2em;
        border:none;
        margin:0 2vw 0 2vw;
        text-align:center;
    }
    .convertedHeader{
        height:7.5vh;
        width:20vw;
        background:#fff;
        margin-top:2%;
        margin-left:40vw;
        text-align:center;
        padding-top:10px;
        position:relative;
        top:30vh;
        color:#DC143C;
        font-size:1.2em;
    }
    .converterForm{
        text-align:center;
        position: relative;
        top:25vh;
    }
    .submitBtn{
        height:10vh;
        width:5vw;
        border:none;
        background:#fff;
        margin-left:2vw;
        color:#DC143C;
    }
}

.mainHead{
    text-align: center;
    padding-top:20px;
    color:#DC143C;
}

.switchCurr{
    border:none;
    height:5vh;
    width:10vw;
    margin-left:45vw;
    position: absolute;
    top:20%;
}

@media only screen and (max-width: 915px){
    .converterForm{
        display:flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        .submitBtn{
            width:50vw;
            margin:0;
            margin-top:10px;
        }
        .amountInput{
            width:50vw;
            margin:0;
            margin-top:10px;
        }
        .currSelector{
            width:50vw;
            margin-top:10px;
        }
    }
    .convertedHeader{
        width:50vw !important;
        margin-left:25vw !important;
    }
    .switchCurr{
        width:50vw;
        margin-left:25vw;
    }
}